<!DOCTYPE html>
<html lang="en">
    {{- $avatarImgSrc := .Site.Params.AvatarURL -}}
    {{- if and (isset .Site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
        {{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
    {{- end -}}
    {{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

    {{- partial "head.html" . -}}
    <body>
        <canvas id="particle-canvas"></canvas>
        <script>
            // Immediately set theme on page load
            setThemeByUserPref();
        </script>
        {{- partial "theme-toggle.html" . -}}
        {{- partial "cursor.html" . -}}
        {{- partial "sidebar.html" . -}}
        <div id="swup-container" class="transition-fade">
            <main id="content">
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
