{{ define "main" }}
<section class="home-about">
    <div class="avatar">
        {{ if .Site.Params.avatarURL }}
        <img style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" src="{{ .Site.Params.avatarURL | relURL }}" alt="avatar"> src="{{ .Site.Params.avatarURL | relURL }}" alt="avatar">
        {{ end }}
    </div>

    <h1>{{ .Site.Title }}</h1>
    {{ if .Site.Params.description }}
        <h2>{{ .Site.Params.description }}</h2>
    {{ end }}
</section>

<div class="flex-break"></div>

<div class="home-posts list-posts">
    <h2>最近作品</h2>
    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ range first 5 $posts.ByDate.Reverse }}
        <div class="post-item" style="margin-bottom: 20px;">
            <time>{{ .Date.Format "2006-01-02" }}</time>
            <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
        </div>
    {{ end }}
</div>
{{ end }}
